@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
@import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";@font-face {
   font-family: OhouseIcon;
   src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
   src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix) format("embedded-opentype"),url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2"),url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff) format("woff"),url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf) format("truetype"),url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon) format("svg");
}

.jy_page_all_ca {
	width: 100%;
	height: 100%;
}
.jy_ca_tl {
	padding-top: 40px;
    width: calc(100% - 30px);
    margin: auto;
}
.jy_logo_small1  {
	width: 30px;
	height: 30px;
	border-radius: 4px;
}
.jy_logo_small2 {    
	width: 64px;
    height: 30px;
}
.jy_ca_content {
	width: 360px;
	margin: 0 auto;
	padding: 60px 0;
}
.jy_ca_content > h1 {
	font-size: 20px;
    font-weight: bold;
}
.jy_sns_ca_tl {
	margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #ededed;
}
.jy_sns_ca_text {
	font-size: 12px;
    text-align: center;
    margin: 15px 0;
    color: #757575;
}
.jy_sns_link {
	display: flex;
    justify-content: center;
}
.jy_input_tl_tl {
	
}
.jy_sns_link > li {
	margin: 0px 10px;
}
.jy_top_input_title {
	display: block;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700; 
    color: #2F3438;
    letter-spacing: -0.3px;
    word-break: keep-all;
}
.jy_email_input_tl {
	width: 170px;
	height: 40px;
	padding: 0 15px;
	border-radius: 4px;
    border: 1px solid #dbdbdb;
}
.jy_email_input_out_tl {
	display: flex;
}
input, button  {
	outline: none;
}
input::placeholder {
	color: #dbdbdb;
}
.jy_gol {
	width: 20px;
	color: #dbdbdb;
	line-height: 40px;
    text-align: center;
}
.jy_pick_email {
	height: 40px;
	width: 170px;
	border-radius: 4px;
    border: 1px solid #dbdbdb;
    padding: 0 15px;
}
.jy_warning {
	padding-top: 10px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(255, 119, 119);
}
.jy_warning_message_view_email {
	display: none;
}
.jy_warning_message_view_pw {
	display: none;
}
.jy_warning_message_view_pw_check {
	display: none;
}
.jy_warning_message_view_member_id {
	display: none;
}
.jy_warning_message_view_checkbox {
	display: none;
}
.jy_email_submit_tl {
	margin-bottom: 30px;
    padding-top: 2px;
}
.jy_email_submit {
	margin-top: 10px;
    width: 100%;
    min-height: 50px;
    padding: 0px;
    background: rgb(247, 248, 250);
    color: rgb(194, 200, 204);
    border: none;
    border: 1px solid;
    border-color: rgb(218, 220, 224);
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.jy_input_infomation_text {
	margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #828C94;
    letter-spacing: -0.3px;
}
.jy_ca_input_size {
	display: inline-block;
    width: 100%;
    height: 40px;
    padding: 8px 15px 9px;
	border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
	font-size: 15px;
    line-height: 21px;
}
.jy_all_input_tl {
	margin-bottom: 30px;
}
.jy_checkbox_tl {
	padding: 18px;
    border: 1px solid #EAEDEF;
}
.jy_agree_all_tl {
	
}
.jy_label_agree_all_tl {
	display: flex;
	cursor: pointer;
}
.jy_input_check_argee_all {
	width: 20px;
	height: 20px;
	/* opacity: 0; */
}
.jy_agree_font_style1 {
	font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin-left: 6px;
    color: #2F3438;
}
.jy_agree_font_style2 {
	display: inline-block;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #828C94;
}
.jy_agree_font_style3 {
	font-size: 14px;
    line-height: 20px;
    color: #2F3438;
    margin-left: 6px;
}
.jy_line {
	adding: 0;
    height: 1px;
    border: none;
    background-color: #EAEDEF;
    margin: 18px 0;
}
.jy_div_agree_list_tl {
	
}
.jy_agree_li {
	width: 18px;
	height: 18px;
}
.jy_essential::after {
	content: "(필수)";
    display: inline-block;
    padding-left: 2px;
    font-size: 12px;
    line-height: 20px;
    color: #009FCE;
}
.jy_notessential::after {
	content: "(선택)";
    display: inline-block;
    padding-left: 2px;
    font-size: 12px;
    line-height: 20px;
    color: rgb(130, 140, 148);
}
.jy_label_agree_tl {
	display: flex;
	cursor: pointer;
}
.jy_topmargin {
	margin-top: 20px;
}
.jy_reCAPCHA {
	margin-bottom: 30px;
	display: none;
}
.jy_ca_submit_btn {
	width: 100%;
	padding: 11px 10px;
	border: none;
	border-radius: 4px;
	font-size: 17px;
    line-height: 26px;
    font-weight: 700;
    cursor: pointer;
}
.jy_new_btn_style {
	background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
}
.jy_new_btn_style:hover {
	background-color: #09addb;
}
.jy_already_ca {
	color: #424242;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}
.jy_already_ca > a {
	text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    padding-left: 10px;
}
input[type="checkbox"] {
	
}
.jy_ch {
	display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #DADDE0;
    background-color: #FFFFFF;
    flex-shrink: 0;
    transition: border-color 0.1s,background-color 0.1s;
}
.jy_size_check {
	
}
.jy_warning_message_view_pw_form1 {
	display: none;
}
.jy_warning_message_view_pw_form2 {
	display: none;
}
.jy_warning_message_view_member_id_same {
	display: none;
}
.jy_warning_message_view_email_same {
	display: none;
}
.jy_warning_message_view_email_wrong {
	display: none;
}
.jy_email_code_tl {
	margin-bottom: 20px;
	display: none;
}
.jy_email_code6 {  
	background: rgb(247, 248, 250);
	min-height: 143px;
	padding: 20px 16px;
}
.jy_email_comment {
	font-size: 13px;
    line-height: 20px;
    margin-bottom: 12px;
}
.jy_email_code6_input_tl {
	/* border: 1px solid rgb(255, 119, 119); */
	border: 1px solid rgb(219, 219, 219);
    min-height: 45px;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.jy_email_code6_input {
	display: flex;
	align-items: center;
    height: 45px;
}
.jy_email_code6_input > input {
	border: none;
    font-size: 15px;
    line-height: 15px;
    flex: 1 0 0px;
    width: 0px;
}
.jy_email_code6_input > span {
	color: rgb(255, 119, 119);
	margin-right: 4px;
}
#sec {
	margin-right: 20px;
	margin-left: 4px;
}
.jy_email_code6_input > button {
	height: 31px;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 10px;
    border-radius: 4px;
    border: none;
}
.disabled {
	background-color: #a3e4f8;
    border-color: #a3e4f8;
    color: #e5f9ff;
}
.abled {
	background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
}
.jy_recall_email {
	font-size: 12px;
    color: rgb(130, 140, 148);
    display: flex;
    align-items: center;
}
.jy_recall_email > a {
	margin-left: 4px;
	text-decoration: underline;
	color: inherit;
}
.jy_warning_message_authentication_code_check {
	display: none;
}
.jy_warning_message_authentication_code_timeout {
	display: none;
}
.jy_fine {
	padding-top: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #35c5f0;
}
.jy_checked_authentication_code_correct {
	display: none;
}
.jy_reEmail_submit {
	
}
