@charset "UTF-8";
@import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
@import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";@font-face {
   font-family: OhouseIcon;
   src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
   src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix) format("embedded-opentype"),url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2"),url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff) format("woff"),url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf) format("truetype"),url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon) format("svg");
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "pretendard variable", "noto sans kr", "apple sd gothic neo", "맑은 고딕", "malgun gothic", sans-serif;
	text-decoration: none;
	list-style: none;
	letter-spacing: -0.3px;
}
.page_notice_detail {
	width: 100%;
	min-height: 800px;
	margin-top: 81px;
	display: inline-block;
}
.page_notice_tl {
	max-width: 780px;
	padding: 0 15px;
	margin: 60px auto;
	min-height: 500px;
}
h1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 16px 0;
}
.write_time {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #828c94;	
}
.notice_content_tl {
	max-width: 780px;
	min-height: 300px;
	margin: 30px 0;
	padding: 30px 0;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
.notice_content_tl > P > * {
    margin: 10px 0;
    max-width: 100%;
    height: auto;
}
.text_content {
	font-size: 15px;
	line-height: 28px;
	word-break: keep-all;
}
.text_content > a {
	text-decoration: underline;
}
strong {
	color: rgb(53, 197, 241);
}
.backcolor {
	    background-color: #f0f2f5;
}
.to_the_list {	
	display: block;
	border: none;
	background: rgb(53, 197, 241);
	padding: 11px 0 12px;
	font-size: 17px;
	font-weight: 700;
	line-height: 22px;
	color: white;
	width: 180px;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 auto;
}
.jy_displaynone {
	display: none;
}